:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  background-color: var(--white);
  color: var(--slate);
  font-family: var(--font-family);
}

header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
}

.linkwebheader {
  font-weight: 700;
  font-size: 18px;
  font-family: var(--second-family);
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.accent {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.nav-a {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
address {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contacts {
  color: var(--slate);
}
.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}
a:hover,
a:focus {
  color: var(--ocean);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.first-section {
  background: var(--navy-blue);
}
h1,
h2,
h3,
p {
  margin: 0;
}
.hero-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
.first-button {
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}
.first-button:hover,
.first-button:focus {
  background-color: var(--ocean);
}
.section-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.card-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}
.team-cart {
  background-color: var(--white);
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}
.team-section {
  background-color: var(--cloud);
}
.team-list {
  box-shadow: none;
  background: transparent;
}
.card-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.team-text {
  text-align: center;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}
footer {
  background: var(--navy-blue);
}
.footer {
  color: var(--cloud);
}
.linkwebfooter {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}
