
/* #region root */

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a:hover,
a:focus {
  color: var(--ocean);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
}
body {
  background-color: var(--white);
  color: var(--slate);
  font-family: var(--font-family);
}
img {
  display: block;
  margin: 0;
}
/* #endregion root */
/* #region header*/
.header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.linkwebheader {
  font-weight: 700;
  font-size: 18px;
  font-family: var(--second-family);
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
  margin: 24px 0 24px 156px;
}
.accent {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.nav-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin: 24px 0 24px 76px;
}
.nav-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
address {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contact-list ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  padding: 24px 156px 24px 332px;
}
.contacts {
  color: var(--slate);
}
.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}
/* #endregion header */
/* #region hero */

.first-section {
  background: var(--navy-blue);
  width: 1440px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}
.hero-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
color: var(--white);
display: block;
max-width: 1440px;
margin: 188px 472px 0 472px; 
align-content: center;
}
.first-button {
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-weight: 500;
  font-size: 16px;
text-align:center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  display: inline-flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-radius: 4px;
padding: 16px 32px;
width: auto;
height: 56px;
padding: 16px 32px;
margin: 48px auto 188px auto;
}
.first-button:hover,
.first-button:focus {
  background-color: var(--ocean);
}
/* #endregion hero */
/* #region features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.section-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.card-container
{display: flex;
flex-wrap: wrap;
gap: 24px;
margin: 120px 156px;
}

.section-card{
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
width: 264px;
height: 104px;
flex-basis: calc((100% - 72px) / 4);

}
.card-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  align-content: stretch;

}
.first-tittle{margin-bottom: 0;}
.first-text{margin-top: 8px;  
text-align: justify;  
}
/* #endregion features */
/* #region team-cards */
.team-section {
  background-color: var(--cloud);
  width: 100%; 
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin: 120px auto 72px auto;
  
}
.team-list {
  box-shadow: none;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
.team-card {
  background-color: var(--white);
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 8px;
border-radius: 0 0 4px 4px;
padding: 0 0 32px ;
width: 264px;
height: 380px;
margin-bottom: 120px;
  }
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 0;
}
.team-text {
  text-align: center;
  margin-top: 8px;
}
.team-list .team-card {flex-basis: calc((100% - 96px) / 4);}
/* #endregion team-cards */ 
/* #region portfolio */
.portfolio-section{
   max-width: 100%; 
  display: flex;
  align-items: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
gap: 24px;
margin-bottom: 120px;

}
.portfolio-card{
  text-align: left;
    flex-basis: calc((100% - 120px) / 6);
  
}
.portfolio {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin: 120px auto 72px auto;
}
.portfolio-text{
  display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
gap: 8px;
border-bottom: 1px solid var(--cornflower);
border-left: 1px solid var(--cornflower);
border-right: 1px solid var(--cornflower);
padding: 32px 16px;
width: 360px;
height: 120px;
}
/* #endregion portfolio */
footer {
  background: var(--navy-blue);
}
.footer {
  color: var(--cloud);  max-width: 100%; 
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.linkwebfooter {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  margin: 100px 1169px 16px 156px;
}
.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--cloud);
margin: 0 1020px 100px 156px;}